Repository ckagiri/predictor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --config ./frontend/eslint.config.js

refactor: cleanup some model & repo
  backend/src/db/models/team.model.ts
  backend/src/db/models/user.model.ts
  backend/src/db/repositories/leaderboard.repo.ts
  backend/src/db/repositories/match.repo.ts
  backend/src/db/repositories/prediction.repo.ts
  backend/src/db/repositories/userScore.repo.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: remove ensureProperData
  backend/src/db/tasks/ensureProperData.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

feat: add exists method in dao
  backend/src/db/repositories/base.repo.ts
  backend/src/db/repositories/document.dao.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: return success-result in Result mod
  backend/src/app/api/common/result/index.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: update default data seed
  backend/src/db/tasks/seed.ts
  backend/src/db/tasks/seedData/seed-epl.json
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: fix default-data seeder & import
  backend/src/app/tasks/import/apiFootballData/start.ts
  backend/src/app/tasks/import/start.ts
  backend/src/app/tasks/seed/index.ts
  backend/src/db/index.ts
  backend/src/db/models/competition.model.ts
  backend/src/db/tasks/drop.ts
  backend/src/db/tasks/seed.ts
  backend/src/db/tasks/seedData/seed-epl.json
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: update tasks
  backend/package.json
Due: none

fix: make default data seeding repeatable
  backend/package-lock.json
  backend/package.json
  backend/src/db/tasks/seed.ts
  backend/src/db/tasks/seedData/seed-2024-25.json
  backend/src/db/tasks/seedData/seed-2025-26.json
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: ensure api data can be imported repeatedly
  backend/src/app/tasks/import/apiFootballData/competition.job.ts
  backend/src/app/tasks/import/apiFootballData/teams.job.ts
  backend/src/app/tasks/import/start.ts
  backend/src/db/converters/apiFootballData/match.converter.ts
  backend/src/db/converters/apiFootballData/team.converter.ts
  backend/src/db/converters/team.converter.ts
  backend/src/db/repositories/team.repo.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: fixed findAll sort issue
  backend/package.json
  backend/src/app/api/data/seasons/useCases/getSeasons.useCase.ts
  backend/src/db/repositories/base.repo.ts
  backend/src/db/repositories/document.dao.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

Seed & Import General cleanups (#55)
  .vscode/launch.json
  backend/package-lock.json
  backend/package.json
  backend/src/app/api/common/result/index.ts
  backend/src/app/api/data/seasons/useCases/getSeasons.useCase.ts
  backend/src/app/schedulers/app_FORK.ts
  backend/src/app/server.ts
  backend/src/app/tasks/import/apiFootballData/competition.job.ts
  backend/src/app/tasks/import/apiFootballData/start.ts
  backend/src/app/tasks/import/apiFootballData/teams.job.ts
  backend/src/app/tasks/import/start.ts
  backend/src/app/tasks/seed/index.ts
  backend/src/common/getDbUri.ts
  backend/src/db/converters/apiFootballData/match.converter.ts
  backend/src/db/converters/apiFootballData/team.converter.ts
  backend/src/db/converters/team.converter.ts
  backend/src/db/helpers/vosePredictor.ts
  backend/src/db/index.ts
  backend/src/db/models/competition.model.ts
  backend/src/db/models/team.model.ts
  backend/src/db/models/user.model.ts
  backend/src/db/repositories/base.repo.ts
  backend/src/db/repositories/document.dao.ts
  backend/src/db/repositories/leaderboard.repo.ts
  backend/src/db/repositories/match.repo.ts
  backend/src/db/repositories/prediction.repo.ts
  backend/src/db/repositories/team.repo.ts
  backend/src/db/repositories/userScore.repo.ts
  backend/src/db/tasks/drop.ts
  backend/src/db/tasks/ensureProperData.ts
  backend/src/db/tasks/seed.ts
  backend/src/db/tasks/seedData/seed-2024-25.json
  backend/src/db/tasks/seedData/seed-2025-26.json
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

build: fix compile error
  backend/src/db/converters/ligi/team.converter.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

build: fix compile error (#56)
  backend/src/db/converters/ligi/team.converter.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: team-converter throwing
  backend/src/app/api/data/matches/useCases/getRoundMatches.useCase.ts
  backend/src/db/converters/ligi/team.converter.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: team-converter throwing (#57)
  backend/src/app/api/data/matches/useCases/getRoundMatches.useCase.ts
  backend/src/db/converters/ligi/team.converter.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: remove console
  backend/src/__tests__/repositiories/match.repo.spec.ts
  backend/src/app/api/data/matches/useCases/getRoundMatches.useCase.ts
  backend/src/app/api/data/teams/useCases/getTeam.useCase.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: replace request-promise with axios
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/converters/team.converter.spec.ts
  backend/src/__tests__/thirdParty/apiFootballDataClient.spec.ts
  backend/src/common/dateUtil.ts
  backend/src/db/repositories/userScore.repo.ts
  backend/src/thirdParty/footballApi/apiClient.ts
  backend/src/thirdParty/footballApi/apiFootballData/apiClient.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: small updates
  backend/src/app/schedulers/footballApi/matches.currentRound.service.ts
  backend/src/app/schedulers/prediction.service.ts
  backend/src/db/repositories/match.repo.ts
  backend/src/db/tasks/seed.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: replace moment with date-fns
  backend/package-lock.json
  backend/package.json
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: use mongoose.Types.ObjectId in repo
  backend/src/db/repositories/base.repo.ts
  backend/src/db/repositories/document.dao.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: set round and season defaults when seeding
  backend/src/db/tasks/seed.ts
  backend/src/db/tasks/seedData/seed-2024-25.json
  backend/src/db/tasks/seedData/seed-2025-26.json
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: fixed test failures + minor refactors
  backend/package.json
  backend/src/__tests__/repositiories/match.repo.spec.ts
  backend/src/__tests__/thirdParty/apiFootballDataClient.spec.ts
  backend/src/db/repositories/interfaces.ts
  frontend/src/root/AppFrame.tsx
  make/dev-compose.mk
  make/dev.mk
  make/devprod-compose.mk
  make/devprod.mk
  make/prod-compose.mk
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --config ./frontend/eslint.config.js

Backend cleanups (#59)
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/converters/team.converter.spec.ts
  backend/src/__tests__/repositiories/match.repo.spec.ts
  backend/src/__tests__/thirdParty/apiFootballDataClient.spec.ts
  backend/src/app/schedulers/footballApi/matches.currentRound.service.ts
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
  backend/src/app/schedulers/prediction.service.ts
  backend/src/common/dateUtil.ts
  backend/src/db/repositories/base.repo.ts
  backend/src/db/repositories/document.dao.ts
  backend/src/db/repositories/interfaces.ts
  backend/src/db/repositories/match.repo.ts
  backend/src/db/repositories/userScore.repo.ts
  backend/src/db/tasks/seed.ts
  backend/src/db/tasks/seedData/seed-2024-25.json
  backend/src/db/tasks/seedData/seed-2025-26.json
  backend/src/thirdParty/footballApi/apiClient.ts
  backend/src/thirdParty/footballApi/apiFootballData/apiClient.ts
  frontend/src/root/AppFrame.tsx
  make/dev-compose.mk
  make/dev.mk
  make/devprod-compose.mk
  make/devprod.mk
  make/prod-compose.mk
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --config ./frontend/eslint.config.js

fix: fixed livematch predpoints leaderboard orchestration
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
  backend/src/app/schedulers/leaderboard.scheduler.ts
  backend/src/app/schedulers/predictionPoints.scheduler.ts
  backend/src/db/converters/gameRound.converter.ts
  backend/src/db/converters/ligi/gameRound.converter.ts
  backend/src/wait-for.sh
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: added back semver, mongo-memory server was complaining
  backend/package-lock.json
  backend/package.json
Due: none

Backend cleanups (#60)
  backend/package-lock.json
  backend/package.json
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
  backend/src/app/schedulers/leaderboard.scheduler.ts
  backend/src/app/schedulers/predictionPoints.scheduler.ts
  backend/src/db/converters/gameRound.converter.ts
  backend/src/db/converters/ligi/gameRound.converter.ts
  backend/src/wait-for.sh
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

docs: updated README
  README.md
  backend/package.json
Due: none

docs: minor edits
  README.md
Due: none

docs(README): minor edits
  README.md
Due: none

fix: fixed contest match not showing
  backend/src/app/api/contests/controller.validators.ts
  backend/src/app/api/contests/roundMatches/useCases/getRoundMatches.useCase.ts
  backend/src/app/api/data/matches/useCases/getRoundMatches.useCase.ts
  backend/src/db/converters/apiFootballData/match.converter.ts
  frontend/src/admin/matches/MatchShow.tsx
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --config ./frontend/eslint.config.js

fix: fixed contest match not showing (#62)
  backend/src/app/api/contests/controller.validators.ts
  backend/src/app/api/contests/roundMatches/useCases/getRoundMatches.useCase.ts
  backend/src/app/api/data/matches/useCases/getRoundMatches.useCase.ts
  backend/src/db/converters/apiFootballData/match.converter.ts
  frontend/src/admin/matches/MatchShow.tsx
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --config ./frontend/eslint.config.js

refactor: update naming of match-update event
  backend/package.json
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
  backend/src/app/schedulers/leaderboard.scheduler.ts
  backend/src/app/schedulers/predictionPoints.scheduler.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

docs: update README
  README.md
Due: none

docs: save without formating
  README.md
Due: none

docs: update README
  README.md
  backend/package.json
Due: none

docs: update readme
  README.md
Due: none

Update readme (#61)
  README.md
  backend/package.json
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
  backend/src/app/schedulers/leaderboard.scheduler.ts
  backend/src/app/schedulers/predictionPoints.scheduler.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

docs: add leaderboards job description
  README.md
Due: none

Path conditions:
  prettier --write --config ./backend/.prettierrc: any of: backend/**/*.{js,ts}
  eslint --fix --config ./backend/eslint.config.mjs: any of: backend/**/*.{js,ts}
  prettier --write --config ./frontend/.prettierrc: any of: frontend/**/*.{js,jsx,ts,tsx}
  eslint --config ./frontend/eslint.config.js: any of: frontend/**/*.{js,jsx,ts,tsx}
