Repository ckagiri/predictor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --max-warnings 0 --config ./frontend/eslint.config.js

.lintstagedrc:

{
  "backend/**/*.{js,ts}": [
    "prettier --write --config ./backend/.prettierrc",
    "eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs"
  ],
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "prettier --write --config ./frontend/.prettierrc",
    "eslint --max-warnings 0 --config ./frontend/eslint.config.js"
  ]
}

fix: comment out pre-push
  .husky/pre-push
Due: none

Commitlinting (#48)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  commitlint.config.js
  package-lock.json
  package.json
Due: none

build: fix eslint
  backend/eslint.config.mjs
  backend/src/app/api/contests/roundMatches/useCases/pickJoker.useCase.ts
  backend/src/app/api/contests/roundMatches/useCases/pickScore.useCase.ts
  backend/src/app/tasks/seed/seeder.ts
  backend/src/db/converters/competition.converter.ts
  backend/src/db/converters/gameRound.converter.ts
  backend/src/db/converters/match.converter.ts
  backend/src/db/converters/season.converter.ts
  backend/src/db/converters/team.converter.ts
  backend/src/db/models/prediction.model.ts
  backend/src/db/repositories/match.repo.ts
  backend/tsconfig.json
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs

build: update lintstagedrc
  .lintstagedrc
Due: none

build: remove unnecessary node_modules in test tsconfig
  backend/tsconfig.test.json
Due: none

refactor: wip add mongo in dev docker compose
  config/nginx/Dockerfile
  config/server/dev/Dockerfile
  docker-compose-dev.yml
  make/dev.mk
Due: none

refactor(wip): add dev docker compose
  backend/src/app/tasks/seed/index.ts
  backend/src/app/tasks/seed/seeder.ts
  config/mongodb/Dockerfile
  config/server/dev/Dockerfile
  config/server/dev/seeder-healthcheck.js
  docker-compose-dev.yml
  make/dev-compose.mk
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs

refactor(wip): docker compose dev
  docker-compose-dev.yml
  make/dev-compose.mk
Due: none

refactor: update docker client dev for vite use
  config/client/dev/Dockerfile
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Makefile
  frontend/src/admin/competitions/CompetitionShow.tsx
  frontend/vite.config.ts
Due: prettier --write --config ./frontend/.prettierrc, eslint --max-warnings 0 --config ./frontend/eslint.config.js

refactor(wip): update docker dev server
  .gitignore
  backend/src/app/server.ts
  config/server/Dockerfile
  docker-compose-dev.yml
  docker-compose-prod.yml
  make/dev-compose.mk
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs

fix: isTsx works correctly when app runs in docker
  backend/src/app/server.ts
  docker-compose-dev.yml
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs

refactor(wip): add dev client in compose file
  config/client/Dockerfile
  config/client/dev/client.env.example
  config/client/devprod/.keep
  config/client/prod/Dockerfile
  docker-compose-dev.yml
  make/dev-compose.mk
Due: none

refactor(wip): remove unused files
  config/nginx/default.conf
  config/nginx/prod/Dockerfile
  config/nginx/prod/default.conf
  config/server/devprod/.keep
  config/server/prod/Dockerfile
  docker-compose.yml
  nginx.conf
Due: none

refactor(wip): added back nginx
  docker-compose-dev.yml
  frontend/vite.config.ts
Due: prettier --write --config ./frontend/.prettierrc, eslint --max-warnings 0 --config ./frontend/eslint.config.js

fix(web): team link works
  frontend/src/admin/layout/navigation/ResourceBreadcrumbItem.tsx
  frontend/src/admin/seasons/SeasonList.tsx
Due: prettier --write --config ./frontend/.prettierrc, eslint --max-warnings 0 --config ./frontend/eslint.config.js

refactor: if seeded data exists then skip
  backend/src/app/tasks/seed/seeder.ts
  config/server/dev/seeder-healthcheck.js
  config/server/dev/server.env.example
  docker-compose-dev.yml
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs

refactor: complete dev & devprod changes
  .dockerignore
  backend/package.json
  backend/src/app/getDbUri.ts
  backend/src/app/schedulers/app_FORK.ts
  backend/src/app/server.ts
  config/client/Dockerfile
  config/client/nginx/default.conf
  config/server/Dockerfile
  config/server/start-command
  docker-compose-dev.yml
  docker-compose-devprod.yml
  make/dev-compose.mk
  make/devprod-compose.mk
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs

refactor: don't need nginx in dev
  docker-compose-dev.yml
Due: none

build: update prod compose file
  .github/workflows/ligi-action-release.yml
  config/dev.env.example
  config/devprod.env.example
  docker-compose-prod.yml
  make/dev.mk
  make/devprod.mk
  nginx-conf/nginx.conf
  site.conf
  ssl_renew.sh
  todo.txt
Due: none

build: update prod compose file (#51)
  .github/workflows/ligi-action-release.yml
  config/dev.env.example
  config/devprod.env.example
  docker-compose-prod.yml
  make/dev.mk
  make/devprod.mk
  nginx-conf/nginx.conf
  site.conf
  ssl_renew.sh
  todo.txt
Due: none

build: add prod target
  .github/workflows/ligi-action-release.yml
Due: none

build: fix dev
  .github/workflows/ligi-action-release.yml
Due: none

build: attempt fix
  .github/workflows/ligi-action-release.yml
  config/client/Dockerfile
Due: none

build: fix deployment
  .github/workflows/ligi-action-release.yml
  config/client/Dockerfile
Due: none

build: update server
  .github/workflows/ligi-action-release.yml
Due: none

build: fix cloud_uri
  .github/workflows/ligi-action-release.yml
Due: none

build: trigger release when PR is closed due to merging
  .github/workflows/ligi-action-release.yml
  .github/workflows/ligi-actions-deploy.yml
  .github/workflows/ligi-actions-push.yml
Due: none

update github actions (#52)
  .github/workflows/ligi-action-release.yml
  .github/workflows/ligi-actions-deploy.yml
  .github/workflows/ligi-actions-push.yml
  config/client/Dockerfile
Due: none

build: release on merged main PRs
  .github/workflows/ligi-action-release.yml
Due: none

build: release on merged main PRs (#53)
  .github/workflows/ligi-action-release.yml
Due: none

build: deploy when PR merged to main
  .github/workflows/ligi-action-release.yml
Due: none

build: deploy when PR merged to main (#54)
  .github/workflows/ligi-action-release.yml
Due: none

chore: remove not used .vscode file
  .vscode/launch.json
Due: none

refactor: move getDbUri to common folder
  backend/src/app/schedulers/app_FORK.ts
  backend/src/app/server.ts
  backend/src/app/tasks/import/start.ts
  backend/src/common/getDbUri.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs

fix: default odds should be split between wdl
  backend/src/db/helpers/vosePredictor.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs
