Repository ckagiri/predictor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --config ./frontend/eslint.config.js

.lintstagedrc:

{
  "backend/**/*.{js,ts}": [
    "prettier --write --config ./backend/.prettierrc",
    "eslint --fix --config ./backend/eslint.config.mjs"
  ],
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "prettier --write --config ./frontend/.prettierrc",
    "eslint --config ./frontend/eslint.config.js"
  ]
}

docs: add leaderboards job description (#63)
  README.md
Due: none

Create LICENSE
  LICENSE
Due: none

docs: update README
  README.md
Due: none

docs: update
  README.md
Due: none

Readme update (#64)
  README.md
Due: none

feat: update match
  backend/src/app/api/common/AppError.ts
  backend/src/app/api/common/interfaces/HttpRequestModel.ts
  backend/src/app/api/common/responders/created.responder.ts
  backend/src/app/api/common/responders/no-content.responder.ts
  backend/src/app/api/data/matches/matches.validator.ts
  backend/src/app/api/data/matches/updateMatch.controller.ts
  backend/src/app/api/data/matches/useCases/updateMatch.useCase.ts
  backend/src/app/schedulers/appSchedule.ts
  backend/src/app/schedulers/app_FORK.ts
  backend/src/app/schedulers/prediction.service.ts
  backend/src/app/schedulers/predictionPoints.scheduler.ts
  backend/src/db/models/match.model.ts
  backend/src/db/repositories/prediction.repo.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

feat(wip): repick joker if match
  backend/src/__tests__/api/data/matches/updateMatch.route.spec.ts
  backend/src/__tests__/schedulers/services/repickJockerIfMatch.spec.ts
  backend/src/__tests__/useCases/api/data/teams/updateMatch.useCase.spec.ts
  backend/src/app/api/common/BackgroundWorker.ts
  backend/src/app/api/data/matches/updateMatch.controller.ts
  backend/src/app/api/data/matches/useCases/updateMatch.useCase.ts
  backend/src/app/schedulers/prediction.service.ts
  backend/src/db/models/match.model.ts
  backend/src/db/repositories/prediction.repo.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

feat(wip): update repick-joker handling
  backend/src/app/api/contests/controller.validators.ts
  backend/src/app/api/data/matches/matches.validator.ts
  backend/src/app/api/data/matches/useCases/updateMatch.useCase.ts
  backend/src/app/schedulers/appSchedule.ts
  backend/src/app/schedulers/app_FORK.ts
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.service.ts
  backend/src/app/schedulers/footballApi/season.nextRound.scheduler.ts
  backend/src/app/schedulers/footballApi/util.ts
  backend/src/app/schedulers/leaderboard.scheduler.ts
  backend/src/app/schedulers/prediction.processor.ts
  backend/src/app/schedulers/prediction.service.ts
  backend/src/app/schedulers/predictionPoints.scheduler.ts
  backend/src/common/eventMediator.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

feat(repick-joker): handle event
  backend/src/__tests__/schedulers/services/repickJockerIfMatch.spec.ts
  backend/src/__tests__/useCases/api/data/teams/updateMatch.useCase.spec.ts
  backend/src/app/api/RequestHandler.ts
  backend/src/app/api/data/matches/matches.routes.ts
  backend/src/app/api/data/matches/matches.validator.ts
  backend/src/app/api/data/matches/updateSeasonMatch.controller.ts
  backend/src/app/api/data/matches/useCases/updateSeasonMatch.useCase.ts
  backend/src/app/schedulers/appSchedule.ts
  backend/src/app/schedulers/app_FORK.ts
  backend/src/app/schedulers/footballApi/util.ts
  backend/src/app/schedulers/prediction.service.ts
  backend/src/app/schedulers/predictionPoints.scheduler.ts
  backend/src/app/tasks/seed/seeder.ts
  backend/src/common/eventMediator.ts
  backend/src/db/models/match.model.ts
  backend/src/db/repositories/prediction.repo.ts
  frontend/src/admin/matches/MatchShow.tsx
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --config ./frontend/eslint.config.js

fix: fixed joker & slip routes
  backend/package.json
  backend/src/app/api/contests/controller.validators.ts
  backend/src/app/api/contests/roundMatches/useCases/pickJoker.useCase.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

Pick new joker if match (#65)
  backend/package.json
  backend/src/__tests__/api/data/matches/updateMatch.route.spec.ts
  backend/src/__tests__/schedulers/services/repickJockerIfMatch.spec.ts
  backend/src/__tests__/useCases/api/data/teams/updateMatch.useCase.spec.ts
  backend/src/app/api/RequestHandler.ts
  backend/src/app/api/common/AppError.ts
  backend/src/app/api/common/BackgroundWorker.ts
  backend/src/app/api/common/interfaces/HttpRequestModel.ts
  backend/src/app/api/common/responders/created.responder.ts
  backend/src/app/api/common/responders/no-content.responder.ts
  backend/src/app/api/contests/controller.validators.ts
  backend/src/app/api/contests/roundMatches/useCases/pickJoker.useCase.ts
  backend/src/app/api/data/matches/matches.routes.ts
  backend/src/app/api/data/matches/matches.validator.ts
  backend/src/app/api/data/matches/updateSeasonMatch.controller.ts
  backend/src/app/api/data/matches/useCases/updateSeasonMatch.useCase.ts
  backend/src/app/schedulers/appSchedule.ts
  backend/src/app/schedulers/app_FORK.ts
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.service.ts
  backend/src/app/schedulers/footballApi/season.nextRound.scheduler.ts
  backend/src/app/schedulers/footballApi/util.ts
  backend/src/app/schedulers/leaderboard.scheduler.ts
  backend/src/app/schedulers/prediction.processor.ts
  backend/src/app/schedulers/prediction.service.ts
  backend/src/app/schedulers/predictionPoints.scheduler.ts
  backend/src/app/tasks/seed/seeder.ts
  backend/src/common/eventMediator.ts
  backend/src/db/models/match.model.ts
  backend/src/db/repositories/prediction.repo.ts
  frontend/src/admin/matches/MatchShow.tsx
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs, prettier --write --config ./frontend/.prettierrc, eslint --config ./frontend/eslint.config.js

fix: use correct base api url
  backend/src/thirdParty/footballApi/apiFootballData/apiClient.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: use correct base api url (#66)
  backend/src/thirdParty/footballApi/apiFootballData/apiClient.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

build: Update ligi-action-release.yml
  .github/workflows/ligi-action-release.yml
Due: none

build: correctly resolve axios
  .github/workflows/ligi-action-release.yml
  backend/package-lock.json
  backend/package.json
Due: none

build: correctly resolve axios (#67)
  .github/workflows/ligi-action-release.yml
  backend/package-lock.json
  backend/package.json
Due: none

fix: inverse condition to ensure event fired for live-update-finished
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: inverse condition to ensure event fired for live-update-finished (#68)
  backend/src/app/schedulers/footballApi/matches.todayAndMorrow.scheduler.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: update external endpoint url for todays matches
  backend/src/app/schedulers/leaderboard.processor.ts
  backend/src/app/schedulers/prediction.processor.ts
  backend/src/common/dateUtil.ts
  backend/src/thirdParty/footballApi/apiFootballData/apiClient.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: update external endpoint url for todays matches (#69)
  backend/src/app/schedulers/leaderboard.processor.ts
  backend/src/app/schedulers/prediction.processor.ts
  backend/src/common/dateUtil.ts
  backend/src/thirdParty/footballApi/apiFootballData/apiClient.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: have home and away team simply as ids
  backend/src/app/api/contests/roundMatches/useCases/getRoundMatches.useCase.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

refactor: have home and away team simply as ids (#70)
  backend/src/app/api/contests/roundMatches/useCases/getRoundMatches.useCase.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: next round is picked from current season
  backend/src/app/schedulers/footballApi/season.nextRound.service.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs

fix: next round is picked from current season (#71)
  backend/src/app/schedulers/footballApi/season.nextRound.service.ts
Due: prettier --write --config ./backend/.prettierrc, eslint --fix --config ./backend/eslint.config.mjs
